@font-face {
	font-family: 'PTRoubleSans';
	src: url('/fonts/rubsn.eot');
	src: url('/fonts/rubsn.eot?#iefix') format('embedded-opentype'),
	url('/fonts/rubsn.woff2') format('woff2'),
	url('/fonts/rubsn.woff') format('woff'),
	url('/fonts/rubsn.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}